version: "3"
services:
  selenium-hub:
    image: selenium/hub
    container_name: selenium-hub
    ports:
      - "4444:4444"
  chrome:
    image: selenium/node-chrome
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
  automation:
    image: ghoshasish99/cits-test:${TAG}
    container_name: automation-test
    depends_on:
      - chrome 
    environment:
      - PROJ=Projects/${PROJECT_NAME}
      - RELEASE=${RELEASE_NAME}
      - TESTSET=${TESTSET_NAME}
      - GRIDURL=http://selenium-hub:4444/wd/hub
    volumes : 
      - /Projects/${PROJECT_NAME}/Results/TestExecution/${RELEASE_NAME}/${TESTSET_NAME}/Latest/junit.xml: /${Host_Location}    