<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Running Cognizant Intelligent Test Scripter Testcases from Jenkins</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ProjectLocation</name>
          <description>The Cognizant Intelligent Test Scripter Project Location Relative to Workspace</description>
          <defaultValue>Projects\Project Name</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>ExecutionMode</name>
          <description>TestDesign to run TestCases, TestExecution to run Testsets</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>TestDesign</string>
              <string>TestExecution</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Release_R_Scenario</name>
          <description>The Release Name if &apos;ExecutionMode&apos; is &apos;TestExecution&apos;
                        The Scenario Name if &apos;ExecutionMode&apos; is &apos;TestDesign&apos;</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TestSet_R_TestCase</name>
          <description>The TestSet Name if &apos;ExecutionMode&apos; is &apos;TestExecution&apos;
                        The TestCase Name if &apos;ExecutionMode&apos; is &apos;TestDesign&apos;</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BrowserName</name>
          <description>Chrome | Firefox | IE | No Browser | Emulator Name 
                        Only Needed if &apos;ExecutionMode&apos; is &apos;TestDesign&apos;</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>AdditionalArgs</name>
          <description>Additional Arguments if any Check CLI. </description>
          <defaultValue>-standalone_report</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>IF &quot;%ExecutionMode%&quot;==&quot;TestDesign&quot; (&#xd;
SET RUN_PROP=-scenario &quot;%Release_R_Scenario%&quot; -testcase &quot;%TestSet_R_TestCase%&quot; -browser &quot;%BrowserName%&quot;&#xd;
) ELSE (&#xd;
SET RUN_PROP=-release &quot;%Release_R_Scenario%&quot; -testset &quot;%TestSet_R_TestCase%&quot; &#xd;
)&#xd;
Run.bat -run -project_location &quot;%ProjectLocation%&quot; %RUN_PROP% %AdditionalArgs%</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>IF &quot;%ExecutionMode%&quot;==&quot;TestDesign&quot; (&#xd;
SET RUN_PROP=-scenario &quot;%Release_R_Scenario%&quot; -testcase &quot;%TestSet_R_TestCase%&quot; -browser &quot;%BrowserName%&quot;&#xd;
) ELSE (&#xd;
SET RUN_PROP=-release &quot;%Release_R_Scenario%&quot; -testset &quot;%TestSet_R_TestCase%&quot; &#xd;
)&#xd;
SET STATUS=Run.bat -project_location &quot;%ProjectLocation%&quot; %RUN_PROP% -latest_exe_status&#xd;
FOR /F &quot;tokens=* USEBACKQ&quot; %%F IN (`%STATUS%`) DO ( SET result=%%F )&#xd;
SET result=%result: =%&#xd;
IF &quot;%result%&quot; == &quot;0&quot; (&#xd;
exit 1&#xd;
)</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.12">
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>HTML Report</reportName>
          <reportDir>${ProjectLocation}\Results\${ExecutionMode}\${Release_R_Scenario}\${TestSet_R_TestCase}\Latest</reportDir>
          <reportFiles>summary.html,console.txt</reportFiles>
          <alwaysLinkToLastBuild>true</alwaysLinkToLastBuild>
          <keepAll>true</keepAll>
          <allowMissing>false</allowMissing>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
  </publishers>
  <buildWrappers/>
</project>